[submodule "noveltree"]
	path = noveltree
	url = https://github.com/dmckeow/noveltree.git
[submodule "possvm"]
	path = possvm
	url = https://github.com/xgrau/possvm-orthology.git
[submodule "broccoli"]
	path = broccoli
	url = https://github.com/dmckeow/Broccoli.git
