nextflow.enable.dsl = 2

// Profiles for resource, env, container management
profiles {
    apptainer_on {
        apptainer.enabled = true
    }
    conda_on {
        conda.enabled = true
    }
    local {
        process.executor = 'local'
        conda.enabled = true
        conda.useMamba = true
        process {
            cpus = 8
            memory = 30.GB
        }
    }
    slurm {
        conda.enabled = true
        conda.useMamba = true
        process {
            executor = 'slurm'

            // Default resources for all processes
            cache='lenient'
            queue='genoa64'
            clusterOptions = '--qos=normal'
            cpus = 1
            memory = 4.GB
            time = '3h'
            
            // Specific resources
            withName: 'ORTHOFINDER' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 64.GB
                time = '3h'
            }

            withName: 'BROCCOLI' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 64.GB
                time = '3h'
            }

            withName: 'SEARCH' {
                clusterOptions = '--qos=shorter'
                cpus = 4
                memory = 32.GB
                time = '3h'
            }

            withName: 'CLUSTER_DMND_MCL' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 64.GB
                time = '3h'
            }

            withName: 'MMSEQS_CREATEDB' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 64.GB
                time = '3h'
            }

            withName: 'MMSEQS_CLUSTER' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 64.GB
                time = '3h'
            }

            withName: 'PARSE_MMSEQS_TO_FASTA' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 64.GB
                time = '3h'
            }
            
        }

        executor {
            name = 'slurm'
            queueSize = 100
            submitRateLimit = '1 sec'
        }
    } 
    slurm_heavy {
        conda.enabled = true
        conda.useMamba = true
        process {
            executor = 'slurm'

            // Default resources for all processes:
            // SEARCH
            // MMSEQS_CREATEDB
            // PARSE_MMSEQS_TO_FASTA
            // GET_ORTHOGROUP_INFO
            cache='lenient'
            queue='genoa64'
            clusterOptions = '--qos=normal'
            cpus = 8
            memory = 64.GB
            time = '12h'
            
            // Specific resources
            withName: 'ORTHOFINDER' {
                clusterOptions = '--qos=vlong'
                cpus = 8
                memory = 128.GB
                time = '2d'
            }

            withName: 'BROCCOLI' {
                clusterOptions = '--qos=vlong'
                cpus = 8
                memory = 128.GB
                time = '2d'
            }

            withName: 'CLUSTER_DMND_MCL' {
                clusterOptions = '--qos=vlong'
                cpus = 8
                memory = 128.GB
                time = '2d'
            }

            withName: 'MMSEQS_CLUSTER' {
                clusterOptions = '--qos=vlong'
                cpus = 8
                memory = 128.GB
                time = '2d'
            }
        }

        executor {
            name = 'slurm'
            queueSize = 200
            submitRateLimit = '5 sec'
        }
    } 
}


/*
 * Default pipeline parameters
 */

params {
    // Whole pipeline
    outdir              = 'results/example'
     
    // Workflow control
    run {
        // ORTHOLOGY - at least one is required!
        broccoli        = true
        orthofinder     = true
        // SEARCH
        search          = true
        // CLUSTER
        cluster_dmnd_mcl     = true
        cluster_mmseqs       = true
    }

    // Process specific parameters
        // ORTHOLOGY

        // OrthoFinder
        orthofinder {
            prior_run           = null
            min_sequences       = 2 // Min number of seqs per orthogroup
            args                = ""
        }

        // Broccoli
        broccoli {
            min_sequences       = 2 // Min number of seqs per orthogroup
            args   = ""
        }

        // SEARCH
        search {
            gene_family_info   = "${projectDir}/example_data/genefam.tsv"
            gene_family_name   = "Myosin"
            hmm_dir            = "${projectDir}/example_data/hmms"
        }

        // CLUSTER_DMND_MCL
        cluster {
            mcl {
                inflation       = 1.5
                fasta_outdir    = "."
                args            = ""
            }

            dmnd {
                args = "--max-target-seqs 10 --fast --quiet"
            }

            mmseqs_createdb {
                args = ""
            }

            mmseqs_cluster {
                args = ""
                prefix = "cluster"
            }

            createseqfiledb {
                args = "--min-sequences 2"
            }

        }
}

// Process specific parameters
process {
    withName: 'ORTHOFINDER' {
        publishDir = [
            path: { "${params.outdir}"},
            mode: 'symlink',
            saveAs: { filename -> filename }
        ]
        ext.args = params.orthofinder.args
    }

    withName: 'BROCCOLI' {
        publishDir = [
            path: { "${params.outdir}/broccoli" },
            mode: 'symlink',
            saveAs: { filename -> filename }
        ]
    }

    withName: 'SEARCH' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'symlink',
            saveAs: { filename ->
                if (filename.endsWith('.domains.fasta') ||
                    filename.endsWith('.domtable')) {
                    return "${filename}"
                } else {
                    return null
                }
            }
        ]
    }

    withName: 'CLUSTER_DMND_MCL' {
        publishDir = [
            path: { "${params.outdir}/dmnd_mcl" },
            mode: 'symlink',
            saveAs: { filename ->
                if ((filename.endsWith('.orthogroups.txt') ||
                    filename.endsWith('.fa'))) {
                    return filename
                } else {
                    return null
                }
            }
        ]
    }

    withName: 'MMSEQS_CLUSTER' {
        ext.prefix = params.cluster.mmseqs_cluster.prefix
        ext.args = params.cluster.mmseqs_cluster.args
    }

    withName: 'MMSEQS_CREATEDB' {
        ext.args = params.cluster.mmseqs_createdb.args
    }

    withName: 'PARSE_MMSEQS_TO_FASTA' {
        publishDir = [
            path: { "${params.outdir}/mmseqs"},
            mode: 'symlink',
            saveAs: { filename -> filename }
        ]
        ext.createseqfiledb_args = params.cluster.createseqfiledb.args
    }

    withName: 'GET_ORTHOGROUP_INFO' {
        publishDir = [
            path: { "${params.outdir}/report"},
            mode: 'symlink',
            saveAs: { filename -> filename }
        ]
    }
}

// Management stuff
manifest {
    name = 'crg-bcaortho'
    description = 'pipeline'
    author = 'Dean Mckeown'
    version = '1.0.0'
    nextflowVersion = '24.10.2'
    homePage = 'https://github.com/dmckeow/crg-bcaortho'
}

// Resource usage reports

workflow.onComplete = {
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
    println "Pipeline parameters:"
    params.each { k, v ->
        println "  $k: $v"
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    showSkipped = false
    showTaskCacheInfo = false
    showTaskResources = true
    showTaskResourcesPercentage = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.tsv"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.png"
}