nextflow.enable.dsl = 2

profiles {
    apptainer_on {
        apptainer.enabled = true
    }
    conda_on {
        conda.enabled = true
    }
    local {
        process.executor = 'local'
        conda.enabled = true
        conda.useMamba = true
    }
    slurm {
        conda.enabled = true
        process {
            executor = 'slurm'
            
            // Default resources for all processes
            cache='lenient'
            queue='genoa64'
            clusterOptions = '--qos=normal'
            cpus = 1
            memory = 4.GB
            time = '1h'
            
            // Specific resources
            withName: 'ORTHOFINDER' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 16.GB
                time = '4h'
            }

            withName: 'BROCCOLI' {
                clusterOptions = '--qos=normal'
                cpus = 8
                memory = 16.GB
                time = '4h'
            }

            withName: 'SEARCH' {
                clusterOptions = '--qos=vshort'
                cpus = 2
                memory = 8.GB
                time = '1h'
            }

            withName: 'CLUSTER_DMND_MCL' {
                clusterOptions = '--qos=vshort'
                cpus = 2
                memory = 8.GB
                time = '1h'
            }
            
        }
    }

}

/*
 * Pipeline parameters
 */

params {
    // Input for all
    outdir              = 'results'

    // BAM INDEX
    sample_sheet        = "data/bam/sample_sheet.csv"
    run_bam_index       = false

    // INITIAL ORTHOLOGY
    fasta_dir           = "/users/asebe/dmckeown/projects/crg-bcaortho/data"
    prior_run           = null
    run_orthofinder     = true

    // SEARCH
        // If search is false, then downstream analyses will be run on all orthogroup proteins
    run_search          = true
    search {
        gene_family_info   = "/users/asebe/dmckeown/projects/BCA_phylogeny/data/genefam.tsv"
        gene_family_name   = "Myosin"
        hmm_dir            = "/users/asebe/dmckeown/projects/BCA_phylogeny/data/hmms"
    }

    // CLUSTER_DMND_MCL
    run_cluster_dmnd_mcl        = true
    cluster_dmnd_mcl {
        dmnd_params             = "--max-target-seqs 100 --more-sensitive --quiet"
        mcl_params              = ""
        mcl_inflation           = 1.5
        mcl_fasta_outdir        = "."
    }
}

// Process specific parameters
process {
    withName: 'ORTHOFINDER' {
        publishDir = [
            path: { "${params.outdir}"},
            mode: 'symlink',
            saveAs: { filename -> filename }
        ]
    }

    withName: 'SEARCH' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'symlink',
            saveAs: { filename ->
                if (filename.endsWith('.domains.fasta') ||
                    filename.endsWith('.domtable')) {
                    return "${filename}"
                } else {
                    return null
                }
            }
        ]
    }

    withName: 'CLUSTER_DMND_MCL' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'symlink',
            saveAs: { filename ->
                if (filename.startsWith('clusters/dmnd_mcl/') &&
                    (filename.endsWith('.dmnd.csv') ||
                    filename.endsWith('.dmnd.csv.abc') ||
                    filename.endsWith('.mcl.fa'))) {
                    return filename
                } else {
                    return null
                }
            }
        ]
    }
}

// Module management
manifest {
    name = 'crg-bcaortho'
    description = 'pipeline'
    author = 'Dean Mckeown'
    version = '1.0.0'
    nextflowVersion = '24.10.0'
    homePage = 'https://github.com/dmckeow/crg-bcaortho'
}