nextflow.enable.dsl = 2

profiles {
    apptainer_on {
        apptainer.enabled = true
    }
    conda_on {
        conda.enabled = true
    }
    my_laptop {
        process.executor = 'local'
        conda.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }

}

//process {
    // defaults for all processes
  //  cpus = 2
    //memory = 2.GB
    // allocations for a specific process
    //withName: 'GATK_JOINTGENOTYPING' {
    //    cpus = 8
    //}
//}


/*
 * Pipeline parameters
 */

params {
    // Primary input (file of input files, one per line)
    outdir              = 'results'
    sample_sheet        = "data/bam/sample_sheet.csv"

    // INITIAL ORTHOLOGY
    fasta_dir           = "/users/asebe/dmckeown/projects/crg-bcaortho/data"
    prior_run           = null

    run_bam_index       = true
    
}

// Process specific parameters
process {
    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: "${params.outdir}/samtools_index",
            mode: 'symlink',
            saveAs: { filename -> filename.endsWith('.bai') ? filename : null }
        ]
    }

    withName: 'ORTHOFINDER' {
        publishDir = [
            path: { "${params.outdir}"},
            mode: 'symlink',
            saveAs: { filename -> filename }
        ]
    }
}

// Module management
manifest {
    name = 'crg-bcaortho'
    description = 'pipeline'
    author = 'Dean Mckeown'
    version = '1.0.0'
    nextflowVersion = '24.10.0'
    homePage = 'https://github.com/dmckeow/crg-bcaortho'
}