
params {
    // Whole pipeline
    samplesheet         = 'data/metazoans_test/samplesheet.csv'
    outdir              = 'results/metazoans_test-Homeodomains'
    runName             = 'metazoans_test-Homeodomains'
     
    // Workflow control
    run {
        // Subworkflows (development purposes)
        init_ortho = true
        which_ortho = false

        // ORTHOLOGY - at least one is required!
        broccoli        = true
        orthofinder     = true
        // SEARCH
        search          = true
        // CLUSTER
        cluster_dmnd_mcl     = true
        cluster_mmseqs       = true
    }

    // Process specific parameters
        // ORTHOLOGY

        // OrthoFinder
        orthofinder {
            prior_run           = null
            args                = ""
            a_threads           = 2
        }

        // Broccoli
        broccoli {
            args   = "-phylogenies ml -kmer_size 10000"
        }

        // SEARCH
        search {
            gene_family_info   = "/users/asebe/xgraubove/climate-adaptation-corals-ops/results_annotation/data/gene_families_searchinfo.csv"
            gene_family_name   = "Homeodomains"
            hmm_dir            = "/users/asebe/xgraubove/climate-adaptation-corals-ops/results_annotation/data/hmms"
        }

        // CLUSTER_DMND_MCL
        cluster {
            mcl {
                inflation       = 1.1
                args            = ""
            }

            dmnd {
                args = "--max-target-seqs 100 --more-sensitive --quiet"
            }

            mmseqs_createdb {
                args = ""
            }

            mmseqs_cluster {
                args = ""
                prefix = "cluster"
            }

            createseqfiledb {
                args = "--min-sequences 2"
            }

        }
}


// Process specific parameters
process {
    withName: 'ORTHOFINDER' {
        ext.args = params.orthofinder.args
        ext.a_threads = params.orthofinder.a_threads
    }

    withName: 'MMSEQS_CLUSTER' {
        ext.prefix = params.cluster.mmseqs_cluster.prefix
        ext.args = params.cluster.mmseqs_cluster.args
    }

    withName: 'MMSEQS_CREATEDB' {
        ext.args = params.cluster.mmseqs_createdb.args
    }

    withName: 'PARSE_MMSEQS_TO_FASTA' {
        ext.createseqfiledb_args = params.cluster.createseqfiledb.args
    }
}

