// conf/slurm.config

process {
    executor = 'slurm'
    cache = 'lenient'
    queue = 'genoa64'

    // Default
    clusterOptions = '--qos=vshort'
    cpus   = { check_max( 2    * task.attempt, 'cpus'   ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time   = { check_max( 30.m * task.attempt, 'time'   ) }

    // Specific resources
    withLabel: 'process_low' {
        clusterOptions = '--qos=shorter'
        time   = { check_max( 1.h  * task.attempt, 'time'   ) }
    }
}

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1 sec'
}

// Container configurations
apptainer {
    enabled = true
    autoMounts = true
}

singularity {
    enabled = false
    autoMounts = false
}

docker {
    enabled = false
    userEmulation = false
}

conda {
    enabled = false
    useMamba = false
}

