// conf/slurm.config

process {
    executor = 'slurm'
    cache = 'lenient'
    queue = 'genoa64'

    // Default
    clusterOptions = '--qos=normal'
    time   = 12.h

    // Specific resources
    withLabel: 'process_low' {
        clusterOptions = '--qos=shorter'
        time   = 3.h
    }

    withLabel: 'process_medium' {
        clusterOptions = '--qos=normal'
        time   = 12.h
    }

    withLabel: 'process_high' {
        clusterOptions = '--qos=long'
        time   = 1.d
    }
    withLabel: 'process_asteroid' {
        clusterOptions = '--qos=vlong'
        time   = 2.d
    }
    withLabel: 'process_diamond' {
        clusterOptions = '--qos=shorter'
        time   = 3.h
    }
    withLabel: 'process_generax' {
        clusterOptions = '--qos=shorter'
        time   = 3.h
    }
    withLabel: 'process_mafft' {
        clusterOptions = '--qos=short'
        time   = 6.h
    }
    withLabel: 'process_witch' {
        clusterOptions = '--qos=short'
        time   = 6.h
    }
    withLabel: 'process_iqtree' {
        clusterOptions = '--qos=vlong'
        time   = { check_max( 3.h * Math.pow(3, task.attempt - 1), 'time'    ) }
    }
    withLabel: 'process_fasttree' {
        clusterOptions = '--qos=vlong'
        time   = { check_max( 3.h * Math.pow(3, task.attempt - 1), 'time'    ) }
    }

    withLabel: 'process_prefilter_search' {
        clusterOptions = '--qos=shorter'
        time   = 3.h
    }
}

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1 sec'
}

// Container configurations
apptainer {
    enabled = true
    autoMounts = true
}

singularity {
    enabled = false
    autoMounts = false
}

docker {
    enabled = false
    userEmulation = false
}

conda {
    enabled = false
    useMamba = false
}

